# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.venv/

# Data (if you later want to ignore large files)
# data/*
# !data/student_performance_raw.xlsx
